.layoutContainer {
    min-height: 100vh; /* Full viewport height */
    background-color: var(--color-grey-light-1);
    overflow: hidden; /* Prevents margin collapse */
}




.formContainer {
  width: 320px;
  border-radius: 0.75rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: var(--color-white-inner);
  box-shadow: var(--shadow-light);
  color:var(--color-grey-dark-1);
}

.title {
  text-align: center;
  line-height: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.form {
  margin-top: 1.5rem;
}

.inputGroupContainer {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.inputGroup {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.inputGroup label {
  display: block;
  color:var(--color-grey-dark-1);
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.inputGroup input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: var(--color-white-inner);
  padding: 0.75rem 1rem;
  color: var(--color-grey-dark-1);
}

.inputGroup input:focus {
  border-color: rgb(13, 13, 13);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 15px 0 15px 0;

}

.forgot a,
.signup a {
  color:var(--color-grey-dark-1);
  text-decoration: none;
  font-size: 14px;
  background-color: transparent; /* Ensure no background */
}

.forgot a:focus,
.signup a:focus,
.forgot a:active,
.signup a:active {
  outline: none; /* Removes the focus outline */
  background-color: transparent !important; /* Prevents the blue background */
  -webkit-appearance: none; /* Remove default browser appearance */
  appearance: none; /* For non-webkit browsers */
}

/* .forgot a:hover,
.signup a:hover {
  text-decoration: underline var(--color-grey-dark-1);
} */

.sign {
  display: block;
  width: 100%;
  background-color:  var(--color-white-inner);
  border:1px solid var(--color-grey-dark-1); 
  padding: 0.75rem;
  text-align: center;
  color:var(--color-grey-dark-1);

  border-radius: 0.375rem;
  font-weight: 600;
}



.socialMessage {
 display: flex;
 align-items: center;
 padding-top:2rem ;
}

.socialMessage .line {
  height:1px;
  flex: 1 1 0%;
  background-color: var(--color-grey-dark-1);
}

.socialMessage .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  color:  var(--color-grey-dark-1);
}


.socialIcons {
  display:flex;
  justify-content:center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap:8px;
}

.socialIcons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
}

.socialIcons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: var(--color-grey-dark-1);
}



.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px; 
  padding:2px;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--color-grey-dark-1);
}
.signup .signupP {
  font-size: 1.5rem;
}

